/* .cover-page-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    position: absolute;
    top: 80px;
    left: 5vw;
    height: calc(100vh - 80px);

} */

.cover-picture {
    display: flex;
    flex-direction: row;
    flex: 3;
    background: white;
    border: .1px black solid;
    border-bottom: none;
    border-top: none;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../../assets/images/coverpage-background.png");
    background-size: cover;
    background-position: center;
}

.image-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 2vw;

}

@keyframes imageSlideshow {
    0%,100%  {
        opacity: 1;
        background-image: url("../../assets/images/profilepic_japan.png");
    }
    40% {
        opacity: 1;
        background-image: url("../../assets/images/profilepic_japan.png");
    }
    45% {
        opacity: 0;
        background-image: url("../../assets/images/profilepic_japan.png");
    }
    46% {
        opacity: 0;
        background-image: url("../../assets/images/profilepic_linkedin.png");
    }
    50% {
        opacity: 1;
        background-image: url("../../assets/images/profilepic_linkedin.png");
    }
    90% {
        opacity: 1;
        background-image: url("../../assets/images/profilepic_linkedin.png");
    }
    95% {
        opacity: 0;
        background-image: url("../../assets/images/profilepic_linkedin.png");
    }
    96% {
        opacity: 0;
        background-image: url("../../assets/images/profilepic_japan.png");
    }

  }

#profilepic {
    display: flex;
    border: 1px black solid;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    animation: imageSlideshow 20s infinite; 

}

.image-wording-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 2vw;
}

.image-details {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255,255,255,0.6);
    max-width: fit-content;
}

#image-name { 
    margin-bottom: 20px;
    font-size: 20px;
}

#image-job {
    margin-bottom: 20px;
    font-size: 20px;
}

#button-1 {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    padding: 15px;
    border: 2px black solid;
    border-radius: 10px;
    background: white;
    justify-content: center;
    align-items: center;
}

#button-1-text {
    display: flex;
    flex: 3;
    white-space: nowrap;
    text-overflow: clip;
    margin-right: 10px;
}

#button-1-icon {
    display: flex;
    flex: 1
}

#button-2 {
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border: 2px black solid;
    border-radius: 10px;
    background: white;

}



#button-1:hover {
    cursor: pointer;  
    background: aqua;  
}

#button-2:hover {
    cursor: pointer;   
    background: aqua; 
}

a:link { text-decoration: none; color: black; }


a:visited { text-decoration: none; color: black; }


a:hover { text-decoration: none; color: black; }


a:active { text-decoration: none; color: black; }




.cover-desc {
    display: flex;
    flex: 1;
    background: #282c34;
    color: white;
    padding: 2vh 10vw 2vh 10vw;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}


.overlay {
    position: absolute;
    top: -80px;
    left: -5vw;
    height: 100vh;
    width: 100vw;
    background: rgba(40, 44, 52, 0.6);
    z-index: 999;
}

.dropdown {
    border: 1px black solid;
    border-radius: 10px;
    z-index: 1000;
    background: white;
}

.dropdownlist {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.dropdownComponent {
    display: flex;
    flex-direction: row;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-bottom: 0.1px black solid;
}

.dropdownComponent:hover {
    cursor: pointer;   
    font-weight: bold; 
}

.dropdowndesc {
    flex: 3;
    white-space: nowrap;
    text-overflow: clip;
    justify-content: flex-start;
}

.dropdownicon {
    flex: 1;
}

.firstComponent {
    margin-top: 0.5em;
}

.lastComponent {
    margin-bottom: 0.5em;
    border-bottom: none;
}

@media only screen and (max-width: 1000px) {
    /* .cover-page-container {
        display: flex;
        flex-direction: column;
        left: 0;
        width: 100vw;
        position: relative;
        top: 80px;
        height: calc(100vh - 80px);
    
    } */
    .cover-picture {
        flex-direction: column;
        padding: 2vh 0;

    }

    .image-container {
        margin-bottom: 0;
        margin-right: 0;
    }

    #profilepic {
        height: 250px;
        width: 250px;
        margin-bottom: 10px;
    }

    .image-wording-details {
        justify-content: center;
        align-items: center; 

    }
    
    .overlay {
        left: 0;
    }

    #image-name { 
        margin-bottom: 10px;
    }
    
    .cover-desc {
        display: block;
        padding: 1vh 3vw 1vh 3vw;
        overflow: auto;
        font-size: 15px;
        flex: 3;
    
    }


}